*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    width: 100%;
    position: relative;
}

::selection{
    background: #1b1b1b;
    color: #fff;
}

a{
    text-decoration: none;
}

.header{
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
}

.nav{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.nav,
.nav-item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .nav,
    .nav-item {
        flex-direction: column;
    }
}

.nav-link,
.nav-logo,
#admin-message,
.btn{
    color: #1b1b1b;
    font-weight: bold;
    font-size: 20px;
}

.nav-logo{
    font-size: 65px;
    font-family: 'Genty Demo', sans-serif;
    margin-top: 10px;

}

.nav-item{
    column-gap: 25px;
}

.nav-link{
    transition: 0.3s;
}
.nav-link:hover{
    color: #1595a4;
    transition: 0.2s;
}

.btn{
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}

/* Cadastro */

.cadastro{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #fcd8b8;
    background-size: cover;
    background-position: center;
}

.home::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.form-container{
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border: 2px solid #1b1b1b;
}

.form_close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #1b1b1b;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.form-container h2{
    font-size: 22px;
    color: #1b1b1b;
    text-align: center;
    margin-top: 8px;
    margin-bottom: -10px;
}

.select-box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

#product-type{
    cursor: pointer;
}

.select-box select{
    height: 100%;
    width: 100%;
    border: 2px solid #1b1b1b;
    border-radius: 0;
    outline: none;
    font-weight: bold;
    padding: 0 30px;
    transition: all 0.3s ease;  
    -moz-appearance: none;  
    -webkit-appearance: none;
}

.select-box select::-ms-expand { 
    display: none; 
  }

.select-box select:focus{
    border-color: #1595a4;
    color: #1595a4;
}

.select-box i{
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    font-size: 20px;
    right: 8px;
    color: #1b1b1b;
    width: 23px;
    pointer-events: none;
}

.select-box select:focus ~ label i{
    color: #1595a4;
    transition: all 0.3s ease;
}



.input-box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input-box input{
    height: 100%;
    width: 100%;
    border: 2px solid #1b1b1b;
    border-radius: 0;
    outline: none;
    font-weight: bold;
    padding: 0 30px;
    transition: all 0.3s ease;
}

.input-box input:focus{
    border-color: #1595a4;
}

.input-box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box i.product,
.input-box i.price,
.input-box i.quantity,
.input-box i.image,
.input-box i.description{
    left: 8px;
    top: 19px;
    color: #1b1b1b;
}

.input-box input:focus ~ i.product,
.input-box input:focus ~ i.price,
.input-box input:focus ~ i.quantity,
.input-box input:focus ~ i.image,
.input-box input:focus ~ i.description{
    color: #1595a4;
    transition: all 0.3s ease;
}

.form-container .btn{
    border: 2px solid #1b1b1b;
    background: transparent;
    margin-top: 26px;
    width: 100%;
    padding: 5px;
}