*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif ;
    font-weight: bold;
    color: white;
}

body{
    background-color: #1d1d1d;
}

::selection {
    color: #1d1d1d;
    background-color: white;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    scale: 0.4;
}

.header-navbar{
    width: 100%;
}

.navbar-brand{
    max-height: 50px;
    margin-top: -5.9vh;
}

.nav-link{
    color: white;
    font-size: 1.1rem;
}

.nav-link:hover{
    color: #a23a85;
}


/* Cover */

.cover{

    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#btn-artigos{
    background-color: rgb(13, 13, 13);
    border: solid 2px white;
}

#btn-artigos:hover{
    background-color: #1d1d1d;
    border: solid 2px #a23a85;
}

#desc{
    max-width: 70vh;
}