*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif ;
    font-weight: bold;
    color: white;
}

body{
    background-color: #1d1d1d;
}

::selection {
    color: #1d1d1d;
    background-color: white;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    scale: 0.4;
}

.header-navbar{
    width: 100%;
}

.navbar-brand{
    max-height: 50px;
    margin-top: -5.9vh;
}

.nav-link{
    color: white;
    font-size: 1.1rem;
}

.nav-link:hover{
    color: #a23a85;
}

/* Titulo */

h1{
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
    color: white;
}

/* Artigo */

.container-artigo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    flex-direction: column;
}

.paragrafos{
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: justify;
    max-width: 80vh;
}

h3{
    margin-top: 3vh;
    margin-bottom: 1vh;
    text-align: center;
    color: white;
}

#btn-home{
    background-color: rgb(13, 13, 13);
    border: solid 2px white;
}

#btn-home:hover{
    background-color: #1d1d1d;
    border: solid 2px #a23a85;
}

.btn-art{
    margin-top: 3vh;
    margin-bottom: 2vh;
    text-align: center;
}